h1,
h2,
h3 {
  text-align: center;
}

ul li {
  list-style: none;
}

.transaction-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reward-container {
  display: flex;
  justify-content: center;
}

.nodata-available {
  display: flex;
  justify-content: center;
}